.DS_Store
EasyJson-Swift/EasyJson-Swift.xcodeproj/project.xcworkspace/xcuserdata/*
EasyJson-Swift/EasyJson-Swift.xcodeproj/xcuserdata/*
EasyJson-Swift/EasyJson-Swift.xcodeproj/project.xcworkspace/
EasyJsonFramework/EasyJsonFramework.xcodeproj/project.xcworkspace/xcuserdata/*
EasyJsonFramework/EasyJsonFramework.xcodeproj/xcuserdata/
