.DS_Store
JMODemo/Demo.xcodeproj/xcuserdata/*
JMODemo/Demo.xcodeproj/project.xcworkspace/xcuserdata/
JMODemo/Demo.xcodeproj/project.xcworkspace/xcuserdata/*
JsonManagedObject/JsonManagedObject.xcodeproj/xcuserdata/
JsonManagedObject/JsonManagedObject.xcodeproj/project.xcworkspace/xcuserdata/
